.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
    position: absolute;
    height: 877px;
    width: 877px;
    right: -210px;
    z-index: 1;
    top: 0;
    animation: rotation linear infinite 30s;
  }